@mixin commonTraits {
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
}
header {
    background-color: tomato;
    color: #274D87;
    @include commonTraits;
}

footer {
    background-color: snow;
    color: #3264AF;
    @include commonTraits;
}
.parag a {
    font-style: italic;
    background-color: snow;
    @include commonTraits;
}