$myColor1: navy;                            // named color value
$myColor2: #8a8aca; 
$myFontSize: 18px;
$paddingVar: 15px 15px 15px 15px;

h1 {
    color: $myColor1;
}
body {
    background-color: $myColor2;
}
p {
    font-size: $myFontSize;
}