*, *:before, *:after {
    box-sizing: border-box; 
}
body {
	line-height: 1.5em;
	max-width: 60em;
  
	margin: auto;
	
  }
  header,
  footer,
  .parag {
	  padding: 1em;
  }
  header {
	  text-align: center;
  }
  .parag {
	  margin-top: -1em;
  }

/* Media queries
   ========================================================================== */
   
/*  smaller screens */
@media only screen and (max-width : 60em) {
body {
		 width: 100%;
		 margin: 0;
	 }
span[data-icon]:before {
	display:block;
	margin-bottom: 0.2em;
    }	
header h1 {
		font-size: 2em;
}
pre {
	font-size: 1em;
}
dd {
	padding: 0;
	margin-left: 0;
	margin-bottom: 0.6em;
}

nav a {
	font-size:1.4em;
	color: rgb(255,252,251);
	display: block;
	border: none;
	line-height:2;
	font-weight:normal;
	margin-left: 2em;
}
nav ul {
	list-style: none;
}
}
/*  navigation */
@media only screen and (min-width : 48em) {


nav {
	margin-bottom: 1em;
	
	height: 3em;
	padding: 0.2em 0;
}
nav ul {
	list-style: none;
}
nav ul, nav li {
	margin: 0;
	padding: 0;
}
nav li {
	float:left;
}
nav a {
	font-size:1.4em;
	color: rgb(255,252,251);
	display: block;
	border: none;
	line-height:2;
	font-weight:normal;
	margin-left: 2em;
}
nav a.current {
	color: rgb(34,33,48);
}
nav a:hover {
	background: none;
	color: rgb(34,33,48);
}
}